<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yutori.tf.hangul">

    <application
        android:name=".network.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Yutori"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mypage.profile.ProfileActivity" />
        <activity android:name=".mypage.PracticeRecord.PracticeRecordActivity" />
        <activity android:name=".mypage.ExamRecord.ExamRecordActivity" />
        <activity android:name=".mypage.MypageActivity" />
        <activity android:name=".exam.CheckActivity" />
        <activity android:name=".exam.ExamActivity" />
        <activity android:name=".practice.PracticeEndActivity" />
        <activity android:name=".login.JoinActivity" />
        <activity android:name=".practice.PracticeActivity" />
        <activity android:name=".hangul.MainActivity" />
        <activity android:name=".process.HomeActivity" />
        <activity android:name=".process.SelectActivity" />
        <activity android:name=".process.NumselectActivity" />
        <activity android:name=".login.LoginActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>